.venv

.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
dist/
build/
*.egg-info/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints
*.ipynb

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover